anthropic==0.60.0
baseline==1.2.1
datasets==2.20.0
fschat==0.2.23
google_api_python_client==2.136.0
httplib2==0.22.0
huggingface_hub==0.32.2
matplotlib==3.10.5
numpy==1.20.1
openai==1.98.0
pandas==2.3.1
peft==0.11.1
protobuf==6.31.1
psutil==6.0.0
pytz==2024.1
Requests==2.32.4
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
sentence_transformers==5.0.0
torch==2.6.0+cu126
tqdm==4.66.5
transformers==4.53.0.dev0
uvicorn==0.35.0
wandb==0.21.0
ipykernel
accelerate
urllib3==1.25.11
openpyxl
